
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing API</title>
</head>
<body>
    <div>
        <form action="PhongBanController-test_form" method="get">
            <h4>This is for form:get</h4>
            <div>
                <input type="text" name="input" placeholder="Enter something">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <form action="PhongBanController-test_form" method="post">
            <h4>This is for form:post</h4>
            <div>
                <input type="text" name="input" placeholder="Enter something">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    
</body>
</html>