<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert form for all</title>
</head>
<body>
    <h1>Form insert PHONGBAN</h1>
    <div>
        <form action="PhongBanController-insert" method="post" accept-charset="utf-8">
            <div>
                <input type="text" name="mapb" id="" placeholder="Mã phòng ban">
            </div>
            <div>
                <input type="text" name="tenpb" id="" placeholder="Tên phòng ban">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <h1>FORM insert NHANVIEN</h1>
    <div>
        <form action="NhanVienController-insert" method="post" accept-charset="utf-8">
            <div>
                <input type="text" name="manv" id="" placeholder="Mã nhân viên">
            </div>
            <div>
                <input type="text" name="hoten" id="" placeholder="Họ tên">
            </div>
            <div>
                <input type="text" name="ngaysinh" id="" placeholder="Ngày sinh (yyyy-mm-dd)">
            </div>
            <div>
                <input type="text" name="mapb" id="" placeholder="Mã phòng ban">
            </div>
            <div>
                <input type="text" name="email" id="" placeholder="Email">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <h1>FORM insert VANPHONGPHAM</h1>
    <div>
        <form action="VanPhongPhamController-insert" method="post" enctype="multipart/form-data">
            <div>
                <input type="text" name="mavpp" id="" placeholder="Mã VPP">
            </div>
            <div>
                <input type="text" name="tenvpp" id="" placeholder="Tên VPP">
            </div>
            <div>
                <input type="text" name="dvt" id="" placeholder="Đơn vị tính">
            </div>
            <div>
                <input type="text" name="gianhap" id="" placeholder="Giá tiền">
            </div>
            <div>
                <label for="hinh">Hình</label>
                <input type="file" name="hinh" id="hinh" accept="image/png, image/jpeg, image/jpg">
            </div>
            <div>
                <input type="text" name="soluong" id="" placeholder="Số lượng">
            </div>
            <div>
                <input type="text" name="mancc" id="" placeholder="Mã nhà cung cấp">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>