<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert form for all</title>
</head>
<body>
    <div>
        <form action="PhongBanController-insert" method="post" accept-charset="utf-8">
            <div>
                <input type="text" name="mapb" id="" placeholder="Mã phòng ban">
            </div>
            <div>
                <input type="text" name="tenpb" id="" placeholder="Tên phòng ban">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>